.screen {
  @apply w-[100wh] h-[100vh] ;
}
.btn-trick-type {
  @apply 
    pl-2 pr-2 m-2
    border-2 border-zinc-300
    rounded-lg 
    ;
}
.btn-trick {
  @apply 
    bg-green-800
    w-[30vw] h-[20vw]
    btn-trick-type
;}
.btn-transition {
  @apply 
    bg-blue-800
    w-[30vw] h-[20vw]
    btn-trick-type
;}
.btn-clear-combo {
  @apply
    p-2
    rounded-full 
    border-2 border-zinc-300
;}

.display-combo {
  @apply
    w-[90vw] 
    m-auto
    mb-4
    flex flex-row
    flex-wrap
    justify-start
    items-center
;}
.display-trick {
  -webkit-clip-path: 
    polygon(
      0      0, 
      80%    0, 
      100% 100%, 
      0    100%, 
      20%    0);
  clip-path: 
    polygon(
      0      0, 
      80%    0, 
      100% 100%, 
      0    100%, 
      20%    0);
  @apply
    flex flex-row
    justify-center items-center
    w-[30vw]
    h-[5vh]
    mb-1 p-2
    bg-green-500 
    text-black
    whitespace-nowrap 
;}
.display-transition {
  -webkit-clip-path: 
    polygon(
      0     0%, 
      100%  0%, 
      80% 100%, 
      20%  100%, 
      0     0%);
  clip-path: 
    polygon(
      0     0%, 
      100%  0%, 
      80% 100%, 
      20%  100%, 
      0     0%);
  @apply
    flex flex-row
    justify-center items-center
    w-[30vw]
    h-[3vh]
    mb-1 p-2
    bg-blue-500 
    text-white
    whitespace-nowrap
;}

.display-options {
  @apply 
    overflow-x-auto
    h-[25vh] 
    w-[98vw]
    m-auto
    mt-0 mb-0
    pt-1
    flex flex-row
    flex-wrap gap-1
    justify-center items-center
    rounded-lg
    bg-zinc-400
    bg-opacity-40
    border-4
    border-zinc-300
  ;
}
.display-option {
  @apply
    w-[30vw] h-[5vh]
    flex flex-row
    justify-center
    overflow-hidden
    p-2
    rounded-lg 
    border-2
    border-zinc-800
    text-white 
    whitespace-nowrap
  ;
}

.trick-or-trans {
  @apply
    flex flex-row
    justify-center items-center
    w-screen 
    pb-10
    text-white
;}


