@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Virgil";
    src: url("https://excalidraw.com/Virgil.woff2") format("woff2");
  }
}

@layer components {
  .outlineButton {
    @apply flex place-content-center place-items-center rounded-md border-2 px-1;
  }
  .neumorphicIn {
    border-radius: 24px;
    background: #242427;
    box-shadow: inset 5px 5px 4px #1b1b1e, inset -5px -5px 4px #2d2d30;
  }
  .neumorphic {
    border-radius: 24px;
    background: #242427;
    box-shadow: 5px 5px 4px #1b1b1e, -5px -5px 4px #2d2d30;
  }
  /*Remove base Styling for input sliders*/
  input[type="range"] {
    @apply appearance-none;
  }
  /*Apply Custom Styling*/
  input[type="range"]::-webkit-slider-runnable-track {
    @apply pointer-events-auto h-4 w-6 appearance-none rounded-lg bg-slate-900 bg-opacity-10
			align-middle;
    border-radius: 30px;
  }
  /*Apply Custom Styling*/
  input[vid="true"]::-webkit-slider-runnable-track {
    @apply pointer-events-auto h-4 w-6 appearance-none rounded-lg bg-transparent
			align-middle;
    border-radius: 30px;
  }
  input[type="range"]::-webkit-slider-thumb {
    @apply pointer-events-auto h-4 w-6 appearance-none rounded-lg bg-gray-500;
  }

  /*Input Styling for Dual Handle Slider*/
  input[double="true"]::-webkit-slider-thumb {
    @apply pointer-events-none relative h-4 w-6 appearance-none rounded-lg;
  }
  /*Start Thumb Draggable*/
  input[id="start"]::-webkit-slider-thumb {
    @apply pointer-events-auto z-50 h-4 w-[30px] appearance-none rounded-md bg-zinc-400 bg-opacity-80;
  }
  /*End Thumb Draggable*/
  input[id="end"]::-webkit-slider-thumb {
    @apply pointer-events-auto z-50 h-4 w-[30px] appearance-none rounded-md bg-zinc-900 bg-opacity-80;
  }
  /*End Playhead Draggable*/
  input[id="playhead"]::-webkit-slider-thumb {
    @apply pointer-events-auto z-50 h-4 w-1 appearance-none rounded-lg bg-white;
  }
  /*Start Thumb Track*/
  input[id="start"]::-webkit-slider-runnable-track {
    @apply pointer-events-none h-3 appearance-none rounded-lg;
  }
  /*End Thumb Track*/
  input[id="end"]::-webkit-slider-runnable-track {
    @apply pointer-events-none appearance-none rounded-lg bg-transparent;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  input[id="sessionSummary"]::-webkit-slider-runnable-track {
    @apply appearance-none rounded-sm bg-zinc-900;
  }
  input[id="sessionSummary"]::-webkit-slider-thumb {
    @apply w-2 appearance-none rounded-md bg-zinc-400 hover:w-8;
  }
  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
@layer utilities {
  .minimalistScroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .minimalistScroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  .minimalistScroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .minimalistScroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  .minimalistScroll {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .resize-detail::-webkit-resizer {
    background: red;
  }
}
