.App {
	text-align: center;
}

canvas {
	min-height: 400px;
	min-width: 600px;
}
.App-background {
	background-color: #666666;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	/* color: white; */
}
#tweak {
	justify-content: right;
	min-width: 10px;
	min-height: 10px;
	/* min-width: auto;
	min-height: auto; */
	align-self: flex-end;
	margin-right: 15px;
	position: absolute;
	top: 75px;
	z-index: 1;
}
.Btn {
	margin: 10px 0px;
	padding: 12px;
	font-size: 24px;
	background: whitesmoke;
	color: black;
	border: 2px solid #808080;
	border-radius: 18px;
	position: relative;
}
.Btn:hover {
	background: gainsboro;
	position: relative;
	overflow: hidden;
	transform: scale(1.125);
}
.an1:hover {
	background-color: hotpink;
	position: relative;
}
.modelSelector:hover {
	position: relative;
	background-color: rgb(97, 19, 112);
	color: whitesmoke;
}

.btn-container {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 20%;
}

.App-link {
	color: #ffffff;
}
h1 {
	color: aquamarine;
	margin-top: 5px;
	margin-bottom: 0%;
	position: absolute;
	top: 0;
}
