@tailwind base;
@tailwind components;

@tailwind utilities;

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.resize-detail::-webkit-resizer {
		background: red;
	}
	.checked {
		@apply bg-red-500;
	}
	/*Remove base Styling for input sliders*/
	input[type="range"] {
		@apply appearance-none;
	}
	/*Apply Custom Styling*/
	input[type="range"]::-webkit-slider-runnable-track {
		@apply pointer-events-auto h-6 w-6 appearance-none rounded-lg
			bg-gray-800;
		border-color: red;
		border-radius: 30px;
	}
	input[type="range"]::-webkit-slider-thumb {
		@apply pointer-events-auto h-6 w-6 appearance-none rounded-lg bg-gray-500;
	}

	/*Input Styling for Dual Handle Slider*/
	input[double="true"]::-webkit-slider-thumb {
		@apply pointer-events-none relative h-6 w-6 appearance-none rounded-lg;
	}
	/*Start Thumb Draggable*/
	input[id="start"]::-webkit-slider-thumb {
		@apply pointer-events-auto z-50 h-6 w-6 appearance-none rounded-lg bg-green-500;
	}
	/*End Thumb Draggable*/
	input[id="end"]::-webkit-slider-thumb {
		@apply pointer-events-auto z-50 h-6 w-6 appearance-none rounded-lg bg-red-500;
	}
	/*End Playhead Draggable*/
	input[id="playhead"]::-webkit-slider-thumb {
		@apply pointer-events-auto z-50 h-6 w-1 appearance-none rounded-lg bg-white;
	}
	/*Start Thumb Track*/
	input[id="start"]::-webkit-slider-runnable-track {
		@apply pointer-events-none h-6 appearance-none rounded-lg;
	}
	/*End Thumb Track*/
	input[id="end"]::-webkit-slider-runnable-track {
		@apply pointer-events-none h-6 appearance-none rounded-lg bg-transparent;
	}
	/* remove checkbox appearance*/
	input[type="checkbox"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		@apply m-6 appearance-none items-center rounded-[50%] bg-gray-400 p-8;
	}

	/*trimToggle*/
	input[type="checkbox"]:checked {
		@apply m-6 appearance-none items-center rounded-full bg-green-500 p-8;
	}
}
